.bg-light {
    background-color: #f4f6f8!important;
}



.wave-bg {
    display: block;
    height: 220px;
    width: 100%;
    min-width: 600px;
    transform-origin: top;
    -webkit-animation: animateWave 2000ms cubic-bezier(.23,1,.32,1) forwards;
    animation: animateWave 2000ms cubic-bezier(.23,1,.32,1) forwards;
    background-image: url(../images/wave-bg.svg);
    background-position: center;
    background-repeat: no-repeat
}